@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.animation-out {
  animation: animation-out 1s linear forwards;
}

@keyframes animation-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animation-in {
  animation: animation-in 0.7s ease-in-out forwards;
}

@keyframes animation-in {
  from {
    transform: scale(2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
